[Unit]
Description=Service to start up my %I version of Redbot Discord bot
After=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/pi/redbot/redenv/bin/python -O -m redbot %I --no-prompt
User=pi
Group=pi
Type=idle
Restart=always
RestartSec=15
RestartPreventExitStatus=0
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
